{% extends 'base.html.twig' %}

{% block title %}Project Trips!{% endblock %}

{% block body %}
<style>
table, th, td {
    border: 1px solid black;
}
   table{
    
    border-collapse: collapse;
   }
   th, td {
  padding: 15px;
  text-align: left;
}
</style>

<div>
   <table>
   <tr>
   <th>Trip</th>
   <th>Distance</th>
   <th>Measure interval</th>
   <th>avg speed</th>
   </tr>
   {% for trip in trips %}
    <tr>
        <td>{{ trip[0] }}</td>
        <td>{{ trip[1] }}</td>
        <td>{{ trip[2] }}</td>
        <td>{{ trip[3] }}</td>
    </tr>
   {% endfor %}
   </table>
</div>
{% endblock %}
